<a href="#" class="list-group-item clearfix" (click)="onSelected()">
    <div class="row">
        <div class="col-md-8">
            <h4 class="list-group-item-heading">{{ recipe.name }}</h4>
            <p class="list-group-item-text">{{ recipe.description }}</p>
        </div>
        <div class="col-md-4">
            <span class="mx-auto">
                <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 50px;">
            </span>
        </div>
    </div>
</a>